<div id="header-wrapper">
  <div id="header" class="container">
    <div id="menu">
      <ul>
        {% assign pages = site.pages | sort: 'navmenu' | compact %}
        {% for pg in pages %}
          {% if pg.navmenu %}
            <li class="{% if pg.url == page.url %}current_page_item{% endif %}"><a href="{{ pg.url }}" accesskey="{{ pg.navmenu }}" title="{{ pg.title }}">{{ pg.title }}</a></li>
          {% endif %}
        {% endfor %}
      </ul>
    </div> <!-- id="menu" -->
{% include logo.html %}
  </div> <!-- id="header" -->
</div> <!-- id="header-wrapper" -->
