<div id="logo">
  <h1><a href="#">{{ site.title | default: "Veridikyll" }}</a></h1>
  <div><span>{{ site.description | default: 'Design by <a href="http://templated.co" rel="nofollow">TEMPLATED</a></span></div><div><span>Adapted for Jekyll/RubyGems by <a href="https://gitlab.com/cmthws/veridikyll-jekyll-theme/">cmthws</a>' }}</span></div>
</div>
