<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}</title>
  <meta name="keywords" content="{% if page.category %}{{ page.category | escape }}{% else %}{{ site.keywords | escape }}{% endif %}" />
  <meta name="description" content="{{ page.excerpt | default: site.description | strip_html | normalize_whitespace | truncate: 160 | escape }}" />
  <link href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900" rel="stylesheet" />
  <link href="{{ "/assets/default.css" | relative_url }}" rel="stylesheet" type="text/css" media="all" />
  <link href="{{ "/assets/fonts.css" | relative_url }}" rel="stylesheet" type="text/css" media="all" />

  <!--[if IE 6]><link href="default_ie6.css" rel="stylesheet" type="text/css" /><![endif]-->

{% include head.html %}
</head>
<body>

{% include header.html %}

<div id="wrapper1">
  <div id="content" class="container">
    <div class="title">
      <h2>{{ page.title }}</h2>
      <span class="byline">{{ page.byline }}</span>
    </div> <!-- class="title" -->

{{ content }}

 </div> <!-- id="content"  -->
</div> <!-- id="wrapper1" -->

{% include footer.html %}

</body>
</html>
